{% extends 'base.html.twig' %}

{% block title %}Pressto Pizza :: Commander{% endblock %}

{% block body %}
<style>
  .container {
    max-width: 1000px;
    margin: 20px auto;
  }

  .main {
    border-radius: 8px;
    background: #F3F3F3;
    box-sizing: border-box;
    padding: 12px;
  }
</style>
<div class="container">
  <div class="main">
    Votre est en cours de préparation. Merci d'avoir fait confiance à Pizza presto
  </div>
</div>
{% endblock %}
